@import url('https://fonts.googleapis.com/css2? family= Inter:wght@500;600 & display=swap' );

* {
    margin: 0;
    padding: 0;
}

body {
    max-width:100%;
    font-family: 'inter', sans-serif;
}

a {
    text-decoration: none;
    color: #3A404E;
    list-style: none;
}

ul li {
    list-style: none;
}

.container__cabecalho {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    margin-top: 28px;
}

header .container__cabecalho #itens__logo {
    display: flex;
    margin-left: 112px;
}

header .container__cabecalho #itens__logo img{
    margin-right: 8px;
}

header .container__cabecalho #itens__navegacacao nav ul{
    display: flex;
    margin-left: 119px;
}

header .container__cabecalho #itens__navegacacao nav ul li {
    margin-right: 32px;
}

#itens__btn {
    display: flex;
    align-items: center;
    margin-left: 398px;
}


#itens__btn a {
    margin-right: 30px;
}

#itens__btn button {
    width: 112px;
    height: 44px;
    border-radius:8px;
    padding: 10px 18px 10px 18px;
    background-color: #8E2424;
    color: #FFFFFF;
    border: none;
}