@import url('https://fonts.googleapis.com/css2? family= Inter:wght@500;600 & display=swap' );

:root {
        --vermelho: #8E2424;
        --cinza: #667085;
        --preto: #101828;
        --branco: #FFFFFF;
}


* {
    margin: 0;
    padding: 0;
}

body {
    max-width:100%;
    width: 100vw;
    height: 100vh;
    font-family: 'inter', sans-serif;
}

a {
    text-decoration: none;
    color: var(--cinza);
    list-style: none;
}

ul li {
    list-style: none;
}

.container__cabecalho {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    margin-top: 30px;
}

header .container__cabecalho #itens__logo {
    display: flex;
    margin-left: 112px;
}

header .container__cabecalho #itens__logo img{
    margin-right: 8px;
}

header .container__cabecalho #itens__navegacacao nav ul{
    display: flex;
    margin-left: 119px;
}

header .container__cabecalho #itens__navegacacao nav ul li {
    margin-right: 32px;
}

#itens__btn {
    display: flex;
    align-items: center;
    margin-left: 398px;
}


#itens__btn a {
    /* margin-right: 30px; */
    color: var(--branco);
}

#itens__btn button {
    width: 112px;
    height: 44px;
    border-radius:8px;
    padding: 10px 18px 10px 18px;
    background-color: var(--vermelho);
    color: var(--branco);
    border: none;
}

.container__sobreNos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 407px;
}

.container__sobreNos span {
    margin-top: 96px;
    margin-bottom: 24px;
    font-weight:600;
    color: var(--vermelho);
}

.container__sobreNos h1 {
    margin-bottom: 36px;
    font-weight: 600;
    color: var(--preto);
}

.container__sobreNos p {
    width: 791px;
    height: 60px;
    text-align: center;
}

.container__metricas {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 228px;
    margin-left: 112px;
}

.container__metricas span {
    color: var(--vermelho);
    font-weight: 600;
    font-size: 60px;
    margin-bottom:20px;
    text-align: left;
}

.container__metricas h2 {
    color: var(--preto);
    margin-bottom: 10px;
}

.container__metricas p {
    width: 280px;
    height: 48px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    margin-right: 32px;
}

.vagas {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid red;
    height: 1798px;
}

.vagas span {
    font-weight:600;
    margin-top:100px;
    color: var(--vermelho);
}
 .vagas h1 {
     margin-top: 100px;
     margin-bottom: 20px;
     font-weight: 600;
     color: var(--preto)
 }

 .vagas p {
     margin-bottom:64px;
 }

 .vagas img {
     width: 1216px;
     height: 400px;
 }
 
 .vagas .vagas__areas {
     display: flex;
     flex-direction: column;
     background-color: red;
 }
 .vagas .vagas__areas div {
     display: flex;
     flex-direction: column;
 }

 .vagas .vagas__areas #titulo__vaga {
     background-color: rgb(55, 148, 12);
     display: flex;
     align-items: flex-start;
 }

 .vagas div#quadrado {
     width: 768px;
     height: 136px;
     background-color: var(--branco);
    border-radius:  16px;
    border: 1px solid red;
 }